/*reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
 /* width */
 ::-webkit-scrollbar {
    width: 3px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 
/// Device = Desktops
*/

.container {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 2rem 1fr 2rem;
    grid-template-areas:
        "header  nav     nav"
        "aside   main    main"
        "footer  footer  footer";
    overflow-y: auto;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    height: 100vh;
}

header {
    margin-left: 5px;
    border-radius: 3px;
    
    background: #262626de;
    color: #fff;
    grid-area: header;
}
header > h1{
    padding-top: 5px;
    text-align: center;
}
/*navbar*/
nav {
    margin-right: 5px;
    border-radius: 5px;
    display: grid;
    background: royalblue;
    grid-area: nav;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
}

/*positioning, styling nav a-tag*/
nav>div {
    padding: 5px 3px;
    text-align: center;
    border-radius: 5px;
}

nav > div:first-child{
    background: tomato;
} 
nav > div:nth-child(5) {
    background: tomato;
    grid-column: 6;
}
nav > div:hover {
    background-color: darkgoldenrod;
    opacity: 0.8;
}
nav > div > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

main {
    margin-right: 10px;
    display: grid;
    background: #f1f1f1;
    grid-area: main;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
}

.box {
    padding: 5px;
}

.box.one {
    background: #fff;
    background-image: url("/img/abstract-architecture.jpg");
}

.box.two {
    background: #fff;
    background-image: url("/img/abstract-ai-art-373543.jpg");
}

.box.three {
    background: #fff;
    background-image: url("/img/abstract-architecture.jpg");
}

.box.four {
    background: #fff;
    background-image: url("/img/abstract-ai-art-373543.jpg");
}

.box.five {
    background: #fff;
    background-image: url("/img/abstract-architecture.jpg");
}

.box.six {
    background: #fff;
    background-image: url("/img/abstract-ai-art-373543.jpg");
}

aside {
    margin-left: 10px;
    background: rgba(65, 105, 225, 0.6);
    grid-area: aside;
    height: 50vh;
    overflow-y: scroll;
}

footer {
    background: #262626de;
    grid-area: footer;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    grid-row: end;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-rows: 2rem 1fr 2rem;
        grid-template-areas:
            "header nav"
            "aside  main"
            "footer footer";
        
        height: 80vh;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0% 2rem 1fr 1rem 2rem;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
        
        grid-column-gap: 5px;
        grid-row-gap: 10px;
    }
    nav{
        margin: 0px 5px;
    }
    main{
        margin: 0px 10px;
        }
    aside{
        margin: 0px;
        height: 10vh;
        overflow-y: scroll;
    }
}